<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ukrainetouristic">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/misze"
        android:label="MapsApp"
        android:roundIcon="@drawable/misze"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".aboutproject.AboutProject"/>
        <activity android:name=".detail.DetailPlaceInfo" />
        <activity android:name=".testregion.Region_menu" />
        <activity android:name=".category.PrePlaceInfoActivityZamku" />
        <activity android:name=".category.PrePlaceInfoActivityPalacu" />
        <activity android:name=".category.PrePlaceInfoActivityPamPrurodu" />
        <activity android:name=".category.PrePlaceInfoActivityZikaviMiszia" />
        <activity android:name=".category.PrePlaceInfoActivityReligiini" />
        <activity android:name=".category.PrePlaceInfoActivityParku" />
        <activity android:name=".category.PrePlaceInfoActivitySadubu" />
        <activity android:name=".category.PrePlaceInfoActivityZikaviMista" />
        <activity android:name=".category.Category_menu" />
        <activity android:name=".testplaceInfo.Place_info_activity" />
        <activity android:name=".map.MapActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>