<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ukrainetouristic">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/misze"
        android:label="MapsApp"
        android:roundIcon="@drawable/misze"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Region_menu"/>
        <activity android:name=".util.category.Pre_place_info_activity" />
        <activity android:name=".util.category.Pre_place_info_activity_zamku" />
        <activity android:name=".util.category.Pre_place_info_activity_palaces" />
        <activity android:name=".util.category.Pre_place_info_activity_pam_prurody" />
        <activity android:name=".util.category.Pre_place_info_activity_zikavi_miszia" />
        <activity android:name=".util.category.Pre_place_info_activity_religiini_sporydu" />
        <activity android:name=".util.category.Pre_place_info_activity_parku" />
        <activity android:name=".util.category.Pre_place_info_activity_panski_sadibi" />
        <activity android:name=".util.category.Pre_place_info_activity_zikavi_mista" />
        <activity android:name=".Category_menu" />
        <activity android:name=".Place_info_activity" />
        <activity android:name=".MapActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>